<a href="https://colab.research.google.com/github/Developers-07/Python/blob/main/LabTask_05(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/weather.numeric.csv")
df

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0       NaN   True   no
2   overcast         83.0       NaN  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy          NaN      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0       NaN  False   no
8      sunny          NaN      70.0    NaN  NaN
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0       NaN  False  yes
13     rainy         71.0      91.0   True   no

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
df.isnull().sum()

outlook        0
temperature    2
humidity       4
windy          3
play           3
dtype: int64

In [ ]:
df.dtypes

outlook         object
temperature    float64
humidity       float64
windy           object
play            object
dtype: object

## **Missing Handling**

In [ ]:
df["temperature"].fillna(1001,inplace=True)
df

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0      79.7   True   no
2   overcast         83.0      79.7  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy       1001.0      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0      79.7  False   no
8      sunny       1001.0      70.0    NaN  NaN
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0      79.7  False  yes
13     rainy         71.0      91.0   True   no

In [ ]:
df["humidity"].mean()

79.7

In [ ]:
df["humidity"].fillna(79.7,inplace=True)
df

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0      79.7   True   no
2   overcast         83.0      79.7  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy       1001.0      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0      79.7  False   no
8      sunny       1001.0      70.0    NaN  NaN
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0      79.7  False  yes
13     rainy         71.0      91.0   True   no

In [ ]:
df["windy"].value_counts()

False    6
True     5
Name: windy, dtype: int64

In [ ]:
df["windy"].fillna("False",inplace=True)
df

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0      79.7   True   no
2   overcast         83.0      79.7  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy       1001.0      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0      79.7  False   no
8      sunny       1001.0      70.0  False  NaN
9      rainy         75.0      80.0  False  NaN
10     sunny         75.0      70.0  False  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0      79.7  False  yes
13     rainy         71.0      91.0   True   no

In [ ]:
df["play"].value_counts()

yes    6
no     5
Name: play, dtype: int64

In [ ]:
df["play"].fillna("yes",inplace=True)
df

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0      79.7   True   no
2   overcast         83.0      79.7  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy       1001.0      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0      79.7  False   no
8      sunny       1001.0      70.0  False  yes
9      rainy         75.0      80.0  False  yes
10     sunny         75.0      70.0  False  yes
11  overcast         72.0      90.0   True  yes
12  overcast         81.0      79.7  False  yes
13     rainy         71.0      91.0   True   no

## **Feature Selection Technique**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving heart.csv to heart.csv

In [ ]:
dff=pd.read_csv("heart.csv")
dff

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
x=dff.drop("target",axis=1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [ ]:
y=dff["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
model=ExtraTreesClassifier()
model.fit(x,y)

ExtraTreesClassifier()

In [ ]:
fs=pd.DataFrame(model.feature_importances_,index=x.columns, columns=["score values"])
fs

          score values
age           0.070672
sex           0.056219
cp            0.127674
trestbps      0.057027
chol          0.056146
fbs           0.019770
restecg       0.037697
thalach       0.088643
exang         0.107239
oldpeak       0.092249
slope         0.063737
ca            0.125160
thal          0.097767

In [ ]:
fs.nlargest(13,"score values")

          score values
cp            0.127674
ca            0.125160
exang         0.107239
thal          0.097767
oldpeak       0.092249
thalach       0.088643
age           0.070672
slope         0.063737
trestbps      0.057027
sex           0.056219
chol          0.056146
restecg       0.037697
fbs           0.019770