<a href="https://colab.research.google.com/github/Developers-07/Python/blob/main/LabTask_06(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LogisticRegression
from sklearn.metrics import accuracy_score

## **Data Collection and Processing**

In [ ]:
df=pd.read_csv("/content/weather.numeric.csv")

In [ ]:
df.head()

    outlook  temperature  humidity  windy play
0     sunny         85.0      85.0  False   no
1     sunny         80.0       NaN   True   no
2  overcast         83.0       NaN  False  yes
3     rainy         70.0      96.0  False  yes
4     rainy          NaN      80.0  False  yes

In [ ]:
df.tail()

     outlook  temperature  humidity  windy play
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0       NaN  False  yes
13     rainy         71.0      91.0   True   no

In [ ]:
df.shape

(14, 5)

In [ ]:
df.info

<bound method DataFrame.info of      outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0       NaN   True   no
2   overcast         83.0       NaN  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy          NaN      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0       NaN  False   no
8      sunny          NaN      70.0    NaN  NaN
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0       NaN  False  yes
13     rainy         71.0      91.0   True   no>

In [ ]:
df.isnull().sum()

outlook        0
temperature    2
humidity       4
windy          3
play           3
dtype: int64

In [ ]:
df.describe()

       temperature   humidity
count    12.000000  10.000000
mean     74.416667  79.700000
std       6.748176  10.677599
min      64.000000  65.000000
25%      70.750000  70.000000
50%      73.500000  80.000000
75%      80.250000  88.750000
max      85.000000  96.000000

In [ ]:
df["temperature"].fillna(df["temperature"].mean(),inplace=True)

In [ ]:
df["humidity"].fillna(df["humidity"].mean(),inplace=True)

In [ ]:
df["windy"].fillna("True",inplace=True)

In [ ]:
df["play"].fillna("yes",inplace=True)

In [ ]:
df

     outlook  temperature  humidity  windy play
0      sunny    85.000000      85.0  False   no
1      sunny    80.000000      79.7   True   no
2   overcast    83.000000      79.7  False  yes
3      rainy    70.000000      96.0  False  yes
4      rainy    74.416667      80.0  False  yes
5      rainy    65.000000      70.0   True   no
6   overcast    64.000000      65.0   True  yes
7      sunny    72.000000      79.7  False   no
8      sunny    74.416667      70.0   True  yes
9      rainy    75.000000      80.0   True  yes
10     sunny    75.000000      70.0   True  yes
11  overcast    72.000000      90.0   True  yes
12  overcast    81.000000      79.7  False  yes
13     rainy    71.000000      91.0   True   no

In [ ]:
lb=LabelEncoder()
df["new_play"]=lb.fit_transform(df["play"])
df

     outlook  temperature  humidity  windy play  new_play
0      sunny    85.000000      85.0  False   no         0
1      sunny    80.000000      79.7   True   no         0
2   overcast    83.000000      79.7  False  yes         1
3      rainy    70.000000      96.0  False  yes         1
4      rainy    74.416667      80.0  False  yes         1
5      rainy    65.000000      70.0   True   no         0
6   overcast    64.000000      65.0   True  yes         1
7      sunny    72.000000      79.7  False   no         0
8      sunny    74.416667      70.0   True  yes         1
9      rainy    75.000000      80.0   True  yes         1
10     sunny    75.000000      70.0   True  yes         1
11  overcast    72.000000      90.0   True  yes         1
12  overcast    81.000000      79.7  False  yes         1
13     rainy    71.000000      91.0   True   no         0

In [ ]:
df["play"].value_counts()

yes    9
no     5
Name: play, dtype: int64