<a href="https://colab.research.google.com/github/Developers-07/Python/blob/main/PerformanceTest_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2D Array**

In [ ]:
m=[]
for i in range(7):
  ar=[]
  for j in range(9):
    v=int(input())
    ar.append(v)
  m.append(ar)
print(m)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
6
7
8
1
2
3
4
5
6
7
8
8
7
9
9
8
9
7
8
9
9
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 8], [7, 9, 9, 8, 9, 7, 8, 9, 9]]

## **Dictionary**

In [ ]:
dic={}

for i in range(5):
  k=input()
  li=[]
  for j in range(10):
    if i==0 or i==3:
      v=input()
    elif i==1 or i==4:
      v=int(input())
    elif i==2:
      v=float(input())
    li.append(v)
  dic[k]=li
print(dic)

String
a
b
c
d
e
f
g
h
i
j
Integer
1
2
3
4
5
6
7
8
9
10
Float
1.1
2.2
3.3
4.4
5.5
6.6
7.7
8.8
9.9
10.0
String2
z
x
c
v
b
n
m
l
k
j
Integer2
10
20
30
40
50
60
70
80
90
100
{'String': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], 'Integer': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Float': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.0], 'String2': ['z', 'x', 'c', 'v', 'b', 'n', 'm', 'l', 'k', 'j'], 'Integer2': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}

## **Use Import**

In [ ]:
import pandas as pd
df=pd.DataFrame(dic)
df

  String  Integer  Float String2  Integer2
0      a        1    1.1       z        10
1      b        2    2.2       x        20
2      c        3    3.3       c        30
3      d        4    4.4       v        40
4      e        5    5.5       b        50
5      f        6    6.6       n        60
6      g        7    7.7       m        70
7      h        8    8.8       l        80
8      i        9    9.9       k        90
9      j       10   10.0       j       100

## **Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()
df["For_String"]=lb.fit_transform(df["String"])
df

  String  Integer  Float String2  Integer2  For_String
0      a        1    1.1       z        10           0
1      b        2    2.2       x        20           1
2      c        3    3.3       c        30           2
3      d        4    4.4       v        40           3
4      e        5    5.5       b        50           4
5      f        6    6.6       n        60           5
6      g        7    7.7       m        70           6
7      h        8    8.8       l        80           7
8      i        9    9.9       k        90           8
9      j       10   10.0       j       100           9

In [ ]:
lb=LabelEncoder()
df["For_String2"]=lb.fit_transform(df["String2"])
df

  String  Integer  Float String2  Integer2  For_String  For_String2
0      a        1    1.1       z        10           0            9
1      b        2    2.2       x        20           1            8
2      c        3    3.3       c        30           2            1
3      d        4    4.4       v        40           3            7
4      e        5    5.5       b        50           4            0
5      f        6    6.6       n        60           5            6
6      g        7    7.7       m        70           6            5
7      h        8    8.8       l        80           7            4
8      i        9    9.9       k        90           8            3
9      j       10   10.0       j       100           9            2